
    <app-entry-point (itemDetail) = "onItemAdded($event)"></app-entry-point>
    <div class="container">
    
    <div class="items">
        <p *ngIf="items.length === 0; else list">Nothing on your todo List</p>
        <ng-template #list>
            <app-todo-item *ngFor = "let list_item of items; let index = index;"
             [title] = "list_item.title" 
             [status] = "list_item.status" 
             [id] = "index"
             (sendId) = "onItemDel($event)"
             (sendTaskId) = "onItemUpdate($event)">
            </app-todo-item>
        </ng-template>  
    </div>
</div>


