
    <app-entry-point (itemDetail) = "onItemAdded($event)"></app-entry-point>
    <div class="container">
    
    <div class="items">
        <p *ngIf="list_todo_items.length === 0; else list">Nothing on your todo List</p>
        <ng-template #list>
            <app-todo-item *ngFor = "let list_item of list_todo_items; let index = index;"
             [todo_value] = "list_item" 
             [id] = "index"
             (sendId) = "onItemDelete($event)"
             (sendTaskId) = "onItemUpdate($event)">
            </app-todo-item>
        </ng-template>  
    </div>
</div>


